@use "variables";

.article {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 2px solid variables.$dark-40;
  border-radius: 8px;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px 24px;
  }

  &-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: variables.$dark-10;
  }

  &-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: variables.$dark-10;
  }
}

@media screen and (max-width: 768px) {
  .article {
    min-width: 335px;
    img {
      width: 333px;
    }
  }
}

@media screen and (max-width: 375px) {
  .article {
    width: 100%;

    img {
      width: 329px;
    }

    &-content {
      padding: 24px 18px;
    }
    &-title {
      font-size: 18px;
      line-height: 23.4px;
    }

    &-text {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
