@use "variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  &-content {
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    gap: 113px;

    &-title {
      font-size: 32px;
      font-weight: 600;
      line-height: 37.5px;
      color: variables.$dark-10;
    }

    &-articles {
      display: flex;
      flex-direction: row;
      gap: 32px;
      flex-wrap: wrap;
      max-width: 1216px;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    &-content {
      width: 704px;
      gap: 56px;
      align-items: center;
      &-articles {
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .container {
    &-content {
      padding: 64px 24px;
      width: 327px;
      gap: 40px;

      &-title {
        width: 100%;
        font-size: 24px;
        line-height: 28.13px;
        text-align: left;
      }
    }
  }
}
