.card {
  background-color: #17171a;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1216px;
}
.container_Date_Heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardDate {
  color: #e07b67;
  size: 16px;
  font-family: "Inter", sans-serif;
}
.heart {
  color: #e07b67;
  cursor: pointer;
  font-size: 32px;
}

.text {
  display: flex;
  flex-direction: column;
  line-height: 32px;
  gap: 16px;
}
.cardTitle {
  font-size: 24px;
  color: white;
  font-family: "Space Grotesk", sans-serif;
}

.cardText {
  font-size: 20px;
  color: #afabb6;
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 768px) {
  .card {
    gap: 24px;
    width: 100%;
  }
  .cardDate {
    font-size: 14px;
  }
  .cardTitle {
    font-size: 20px;
  }
  .cardText {
    font-size: 16px;
    line-height: 26.5px;
  }
  .heart {
    font-size: 21px;
  }
}

@media screen and (max-width: 375px) {
  .card {
    gap: 20px;
    padding: 32px 24px;
  }
  .cardDate {
    font-size: 12px;
  }
  .heart {
    font-size: 20px;
  }

  .cardText {
    line-height: 22.4px;
  }
}
